<%= form_with url: sessions_path, local: true do |form| %>
  <%= render 'flash' %>
  
  <p>
    <%= form.label :email %>
    <%= form.text_field :email, id: :email %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password, id: :password %>
  </p>

  <%= form.submit 'Enter'%>
<% end %>
