<tr>
  <td class="align-middle">
    <%= content_tag :span, badge.name %>
  </td>
  <td class="align-middle"><%= badge.rule_name %></td>
  <td class="align-middle"><%= badge.rule_parameter %></td>
  <td class="align-middle"><%= link_to t('.show_button'), admin_badge_path(badge) %></td>
  <td class="align-middle">
    <%= link_to t('.edit_button'), edit_admin_badge_path(badge) %>
  </td>
  <td class="align-middle">
    <%= link_to t('.delete_button'), admin_badge_path(badge), method: :delete, data: {confirm: t('.delete_confirmation')} %>
  </td>
</tr>
