<h1>Passing the <%= @test_passage.test.title %> Test</h1>

<%= content_tag :b,
    @test_passage.current_question.body,
    class: 'question_body' %>
<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |f| %>
  <%= f.collection_check_boxes :answers_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
  <p>
    <%= b.check_box id: "answer_ids_#{b.object.id}" %>
    <%= b.label %>
  </p>
  <% end %>
  <p>
    <%= f.submit 'Next' %>
  </p>
<% end %>
<p>
  <%= link_to "Gist", gist_test_passage_path(@test_passage), method: :post %>
</p>
<p>
  Question <%= @test_passage.current_question_index %> from <%= @test_passage.number_of_questions %>
</p>
<%= content_tag :div, class: 'progressbar', data: { progress: @test_passage.current_progress } do %>
  <span class="progressbar_label">
  </span>
<% end %>
<!-- HTML5 progress example:
<%= content_tag :progress, value: @test_passage.current_progress, max: 100 do %>
  <%= @test_passage.current_progress %>
<% end %>-->
