<tr>
  <td><%= question.id %></td>
  <td><%= question.body %></td>
  <td><%= question.answers_count %></td>
  <td>
    <%= link_to t('.show'), admin_question_path(question) %>
    <%= link_to t('.edit'), edit_admin_question_path(question) %>
    <%= link_to t('.delete'), admin_question_path(question), method: :delete, data: {confirm: t('.confirmation')} %>
  </td>
</tr>
