<h2><%= t('.header', id: @test.id) %>:</h2>
<strong><%= t('.body') %>:</strong> <%= @test.title %>
<br><strong><%= t('.level') %>:</strong> <%= @test.level %>
<br><strong><%= t('.questions_count') %>:</strong> <%= @test.questions.count %>
<h3><%= t('.questions') %>:</h3>
<table class="table table-hover">
  <thead>
    <th><%= t('.id') %></th>
    <th><%= t('.text') %></th>
    <th><%= t('.answers') %></th>
    <th><%= t('.actions') %></th>
  </thead>
  <tbody>
    <%= render partial: 'admin/questions/question', collection: @test.questions %>
  </tbody>
</table>
<%= link_to t('.edit'), edit_admin_test_path(@test) %><br>
<%= link_to t('.new_question'), new_admin_test_question_path(@test) %><br>
<%= link_to t('.tests_list'), admin_tests_path %>
