<nav class="navbar navbar-light bg-light">
  <%= link_to 'Test-Guru', root_path, class: 'navbar-brand' %>
  <span class="navbar-text">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to admin_gists_path do %>
          <%= octicon 'logo-gist' %>
        <% end %>
        <%= link_to admin_tests_path do %>
          <%= octicon 'home' %>
        <% end %>
        <%= link_to feedback_new_path do %>
          <%= octicon 'mail' %>
        <% end %>
        <%= link_to admin_badges_path do %>
          <%= octicon 'star' %>
        <% end %>
      <% end %>
      Welcome, <b><%= current_user.email %></b> Guru
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Signup', new_user_registration_path %>
      <%= link_to 'Login', new_user_session_path %>
   <% end %>
  </span>
</nav>
